[Desktop Entry]
Encoding=UTF-8
Name=Mule Core
Comment=Connect to the Mule P2P Network
Comment[de]=Verbinde mit dem Mule peer-to-peer Netzwerk
Comment[fr]=Mule, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Mule, eşten eşe kriptografik sanal para birimi
Exec=mule-qt %u
Terminal=false
Type=Application
Icon=mule128
MimeType=x-scheme-handler/mule;
Categories=Office;Finance;
